<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %} | Mongo-Bongo</title>
<link href="{{ url_for('media', file='css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
<link rel="icon" href="{{ url_for('media', file='img/favicon.png') }}" type="image/png" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/">Mongo-Bongo</a></h1>
				<h2>złote myśli dla każdego</h2>
			</div>
			<div id="search">
				<form method="get" action="">
					<fieldset>
					<input type="text" id="search-text" name="s" value="" />
					</fieldset>
				</form>
			</div>
			<!-- end #logo -->
		</div>
		<!-- end #header -->
		<div id="menu">
			<ul>
				<li class="first"><a href="/">Początek</a></li>
				<li><a href="{{ url_for('add_entry') }}">Dodaj</a></li>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
	<!-- end #header-wrapper -->
	<div id="page">
		<div id="banner"><a href="#"><img src="{{ url_for('media', file='img/img05.jpg') }}" alt="" /></a></div>
		<div id="page-bgcontent">
			<div id="content">
{% block content %}
				<div class="post">
					<h2 class="title">Welcome to Nimbuslike </h2>
					<p class="byline">by nodethirtythree and freecsstemplates </p>
					<div class="entry">
						<p><strong>Nimbuslike</strong> is a free template by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> and <a href="http://www.freecsstemplates.org">Free CSS Templates</a> released under the <a href="http://creativecommons.org/">Creative Commons Attribution license</a>. The photo above is from <a href="http://www.pdphoto.org">PDPhoto.org</a>. You’re free to use this template for commercial or personal use provided you keep the footer links to our sites intact.  That’s all :)</p>
						<p>This template is also available as a <a href="http://www.freewpthemes.net">WordPress theme</a>. Check out more WordPress conversions of our templates at <a href="http://www.freewpthemes.net">Free WP Themes</a> and follow me on <a href="http://twitter.com/nodethirtythree">Twitter</a> for news and updates.</p>
					</div>
					<div class="meta">
						<p class="links"><a href="#" class="comments">Comments (64)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Full article</a></p>
					</div>
				</div>
				<div class="post">
					<h2 class="title">Veroeros Sed Consequat</h2>
					<p class="byline">posted by someone on july 19, 2009</p>
					<div class="entry">
						<p>Sed vel quam. Vestibulum pellentesque. Morbi sit amet magna ac lacus dapibus interdum. Donec pede nisl, gravida iaculis, auctor vitae, bibendum sit amet, mauris. Cras adipiscing libero et risus. Donec rutrum tempus massa. Proin at mauris sed <a href="#">elit venenatis porttitor</a>. Morbi quam nisl, fringilla quis.</p>
						<p>Sagittis nec, adipiscing at, elit. Maecenas sed sem sit amet lectus mattis molestie. Integer quis eros lorem ipsum dolor sit amet veroeros consequat ipsum dolor sit amet veroeros consequat.</p>
					</div>
					<div class="meta">
						<p class="links"><a href="#" class="comments">Comments (64)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Full article</a></p>
					</div>
				</div>
{% endblock %}
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<h2>złote czy srebrne?</h2>
						<p><strong>Złote myśli przychodzą nagle</strong>, i nagle odchodzą. Warto je zapisać dla potomności.</p>
					</li>
					<li>
{% block side1 %}
<h2>ostatnio dodane</h2>
<ul>
{% for entry in LATEST %}
<li><a href="{{ entry.get_url() }}">{{ entry.text|truncate(40)|e }}</a></li>
{% endfor %}
</ul>
{% endblock %}
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<div id="footer">
			<p>&copy; 2009 {{ SITE.name }}. Design by <a href="http://www.nodethirtythree.com/">nodethirtythree</a></p>
		</div>
		<!-- end #footer -->
	</div>
	<!-- end #page -->
</div>
</body>
</html>
