{% extends "base.html" %}

{% block title %}Złote Myśli ery intarwebu{% endblock %}

{% block content %}
<div class="post">
<h2 class="title">Złote Myśli&trade;</h2>
<p class="byline">myślenie jest złotem</p>
<div class="entry">
{% if num_entries %}
<p>Kilka ostatnio dodanych sztuk, dla podkręcenia apetytu</p>
<ul>
{% for entry in entries %}
<li>{{ format_datetime(entry.date_added, "d MMMM yyyy 'o' HH:mm") }} przez {{ entry.author|e }}: "<a href="{{ entry.get_url() }}">{{ entry.text|truncate(50)|e }}</a>" {% if entry.comments.count() %}(komentarzy: {{ entry.comments.count() }}){% endif %}</li>
{% endfor %}
</ul>
{% else %}
<p>Nic jeszcze nie ma.</p>
{% endif %}
<h3 class="title">Dodaj coś od siebie</h3>
<form method="post" action="{{ url_for('add_entry') }}">
<p>Twoje pseudo:<br />
{{ form.author(size=60) }}</p>
<p>Tekst:<br />
{{ form.text(cols=60, rows=10) }}</p>
<p><input type="submit" value="zapisz" /></p>
</form>
</div>
</div>
{% endblock %}
