{% extends "base.html" %}

{% block title %}Złote Myśli ery intarwebu{% endblock %}

{% block content %}
<div class="post">
<h2 class="title">Złote Myśli</h2>
<p class="byline">myślenie jest złotem</p>
<div class="entry">
{% if entries %}
<p>Ostatnio dodane</p>
<ul>
{% for entry in entries %}
<li>{{ entry.date_added.strftime("%Y-%m-%d") }} o {{ entry.date_added.strftime("%H:%M") }} przez {{ entry.author|e }}: "<a href="{{ entry.get_url() }}">{{ entry.text|truncate(50)|e }}</a>"</li>
{% endfor %}
</ul>
{% else %}
<p>Nic jeszcze nie ma.</p>
{% endif %}
<h3 class="title">Dodaj coś od siebie</h3>
<form method="post" action=".">
<p>Twoje pseudo:<br />
{{ form.author() }}</p>
<p>Tekst:<br />
{{ form.text() }}</p>
<p><input type="submit" value="zapisz" /></p>
</form>
</div>
</div>
{% endblock %}
